body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-shadow: 2px 2px 2px #aaa;
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

.box2 {
    background-color: #000000; /* Green */
    border: none;
    color: white;
    padding: flex;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 40px 60px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

.button:hover {
    box-shadow: 0 16px 20px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    <!--This is a comment. Comments are not displayed in the browser-->

}

.image-wtext {
    position:relative;
}

.text-center {
    left: 0;
    position:absolute;
    text-align:center;
    top: 30px;
    width: 100%
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://static.pexels.com/photos/103567/pexels-photo-103567.jpeg');
  background-size: cover;
  color: #ffffff;
  height: 400px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.col-md-4 {
  margin: 0 0 20px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}